[Unit]
Description=Private mirror bot service
After=network.target

[Service]
Restart=on-abort
Type=simple
User=bot
WorkingDirectory=/home/bot/aria-telegram-mirror-bot-2
ExecStartPre=/usr/bin/env bash aria.sh
ExecStart=/usr/bin/npm start
ExecReload=/bin/kill -USR1 $MAINPID
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
