[Unit]
Description=Phone walls bot service
After=network.target

[Service]
Restart=on-abort
Type=simple
User=bot
WorkingDirectory=/home/bot/walls-bot-2
ExecStart=/home/bot/walls-bot/gradlew run
ExecReload=/bin/kill -USR1 $MAINPID
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s
PrivateTmp=true
PrivateDevices=false
ProtectSystem=full
CPUWeight=10
CPUQuota=10%
IOWeight=20
MemorySwapMax=0

[Install]
WantedBy=multi-user.target
