[Unit]
Description=Telegram notifier service for androidx-release-watcher
Wants=release-watcher-recent.timer

[Service]
WorkingDirectory=/home/bot/androidx-release-watcher
ExecStart=/home/bot/androidx-release-watcher/venv/bin/python telegram_notifier.py

; Use graceful shutdown with a reasonable timeout
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s

; Use private /tmp and /var/tmp, which are discarded after the process stops.
PrivateTmp=true
; Use a minimal /dev (May bring additional security if switched to 'true', but it may not work on Raspberry Pi's or other devices, so it has been disabled in this dist.)
PrivateDevices=false
; Make /usr, /boot, /etc and possibly some more folders read-only.
ProtectSystem=full

[Install]
WantedBy=multi-user.target
