(compression_config) {
  gzip
}

(base_config) {
  tls {
    dns cloudflare
    clients /etc/ssl/caddy/cloudflare-origin-pull-ca.pem
    protocols tls1.2
  }
  header / {
    # Security related changes stolen from https://github.com/searx/searx-docker/blob/master/Caddyfile
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-XSS-Protection "1; mode=block"
    X-Frame-Options "SAMEORIGIN"
    Feature-Policy "accelerometer 'none'; autoplay 'none';camera 'none';encrypted-media 'none'; geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none';sync-xhr 'none';usb 'none'"
    Referrer-Policy "no-referrer"
  }
}

(proxy_config) {
  try_duration 5s
  transparent
}

https://www.msfjarvis.dev {
  import base_config
  redir https://msfjarvis.dev{uri} 301
}

https://msfjarvis.dev {
  import base_config
  import compression_config
  root /var/www/msfjarvis.dev/
  log / /etc/logs/requests.log
  errors {
    404 404.html
  }
  redir 301 {
    /caesium-stable https://dl.msfjarvis.dev/caesium/wahoo/stable/updater.json
    /caesium-beta https://dl.msfjarvis.dev/caesium/wahoo/beta/updater.json
    /caesium-alpha https://dl.msfjarvis.dev/caesium/wahoo/alpha/updater.json
  }
  header / {
    Content-Security-Policy "
      base-uri 'self';
      connect-src 'self' commento.msfjarvis.dev;
      default-src 'self';
      frame-ancestors 'none';
      frame-src github.com;
      font-src 'self' data: commento.msfjarvis.dev;
      img-src 'self' data: gfycat.com imgur.com *.imgur.com commento.msfjarvis.dev;
      object-src 'none';
      script-src 'self' commento.msfjarvis.dev platform.twitter.com unpkg.com;
      style-src 'self' commento.msfjarvis.dev 'unsafe-inline';
    "
  }
}

https://bin.msfjarvis.dev {
  import base_config
  import compression_config
  proxy / http://localhost:8081 {
    import proxy_config
  }
}

https://commento.msfjarvis.dev {
  import base_config
  import compression_config
  proxy / http://localhost:8082 {
    import proxy_config
  }
}

https://dl.msfjarvis.dev {
  import base_config
  root /var/www/dl.msfjarvis.dev
  fastcgi / /run/php/php7.2-fpm.sock php
  rewrite {
    if {path} ends_with /
    to {dir}/index.html {dir}/index.php /_h5ai/public/index.php
  }
}

https://rss.msfjarvis.dev {
  import base_config
  import compression_config
  proxy / http://localhost:8083 {
    import proxy_config
  }
}

https://staging.msfjarvis.dev {
  import base_config
  import compression_config
  root /var/www/staging.msfjarvis.dev/
  errors {
    404 404.html
  }
  header / {
    Content-Security-Policy "
      base-uri 'self';
      connect-src 'self' commento.msfjarvis.dev;
      default-src 'self';
      frame-ancestors 'none';
      font-src 'self' data: commento.msfjarvis.dev stackpath.bootstrapcdn.com;
      img-src 'self' data: gfycat.com imgur.com *.imgur.com commento.msfjarvis.dev *.amazonaws.com;
      object-src 'none';
      script-src 'self' commento.msfjarvis.dev unpkg.com;
      style-src 'self' commento.msfjarvis.dev stackpath.bootstrapcdn.com;
    "
  }
}
