(compression_config) {
    gzip
}

(base_config) {
    tls {
        dns cloudflare
    }
    header / {
        # Security related changes stolen from https://github.com/searx/searx-docker/blob/master/Caddyfile
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Feature-Policy "accelerometer 'none';ambient-light-sensor 'none'; autoplay 'none';camera 'none';encrypted-media 'none'; geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none'; speaker 'none';sync-xhr 'none';usb 'none';vr 'none'"
        Referrer-Policy "no-referrer"
    }
}

(proxy_config) {
    try_duration 5s
    transparent
}

https://www.msfjarvis.website {
    import base_config
    redir https://msfjarvis.website{uri}
}

https://msfjarvis.website {
    import base_config
    import compression_config
    root /var/www/msfjarvis.website/
    header / {
        Cache-Control "no-cache"
    }
}

https://bin.msfjarvis.website {
    import base_config
    import compression_config
    proxy / http://localhost:4000 {
        import proxy_config
    }
}

https://build.msfjarvis.website {
    import base_config
    import compression_config
    proxy / http://localhost:8080 {
        import proxy_config
    }
}

https://daas.msfjarvis.website {
    import base_config
    import compression_config
    proxy / http://localhost:8082 {
        import proxy_config
    }
}

https://dl.msfjarvis.website {
    import base_config
    root /var/www/download.msfjarvis.website
    fastcgi / /run/php/php7.2-fpm.sock php
    rewrite {
        if {path} ends_with /
        to {dir}/index.html {dir}/index.php /_h5ai/public/index.php
    }
}

https://docker.msfjarvis.website {
    import base_config
    import compression_config
    proxy / http://localhost:9000 {
        import proxy_config
    }
}

https://download.msfjarvis.website {
    import base_config
    redir https://dl.msfjarvis.website{uri}
}

https://git.msfjarvis.website {
    import base_config
    import compression_config
    proxy / http://localhost:8000 {
        import proxy_config
    }
}

https://staging.msfjarvis.website {
    import base_config
    import compression_config
    root /var/www/msfjarvis.website.staging/
    header / {
        Cache-Control "no-cache"
    }
}
