[Unit]
Description=Caddy webserver service
After=network.target

[Service]
Type=simple
User=caddy
WorkingDirectory=/etc/caddy
ExecStart=/usr/local/bin/caddy -conf /etc/caddy/Caddyfile
Restart=on-abort

[Install]
WantedBy=multi-user.target