[Unit]
Description=Jarvis-CI-Bot service
After=network.target

[Service]
Type=simple
User=bot
WorkingDirectory=/home/bot/jarvis-ci-bot
ExecStart=/home/bot/jarvis-ci-bot/build.py
Restart=on-abort

[Install]
WantedBy=multi-user.target