[Unit]
Description=UNO Telegram Bot service
After=network.target

[Service]
Restart=on-abort
Type=simple
User=bot
WorkingDirectory=/home/bot/mau_mau_bot
ExecStart=/home/bot/mau_mau_bot/venv/bin/python bot.py
ExecReload=/bin/kill -USR1 $MAINPID

; Use graceful shutdown with a reasonable timeout
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s

; Use private /tmp and /var/tmp, which are discarded after caddy stops.
PrivateTmp=true
; Use a minimal /dev (May bring additional security if switched to 'true', but it may not work on Raspberry Pi's or other devices, so it has been disabled in this dist.)
PrivateDevices=false
; Make /usr, /boot, /etc and possibly some more folders read-only.
ProtectSystem=full

[Install]
WantedBy=multi-user.target
